*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    padding: 5px;
    width:80%;
    margin: 0 auto; 
}
.clearfix{
    float: none;
    clear: both;
}
.tbl-30{
    width:30%;
}
.menu ul{
    list-style-type:none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu{
    text-align: center;
    /* border-bottom:2px solid grey; */
}
.tbl-full{
    width:100%;
}
table tr th{
    border-bottom: 2px solid gray;
    padding:2%  ;
    text-align: left;
}
table tr td{
    padding: 1%;
}
.btn-primary{
    background-color: rgb(107, 40, 170);
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
} 

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color:rgba(56, 68, 230, 0.904);
}
.main{
    margin: 1% 0;
    background-color: rgb(204, 202, 202);
}
.col-4{
    width:15%;
    background-color: white;
    margin: 1%;
    float: left;
    padding: 2%;
}
