.body{
    margin: 0;
    padding: 0;
    font-family: 'RocknRoll One', sans-serif; 
}
.login{
    width: 350px;
    height: 420px;
    background:#000; 
    color: #fff;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
} 
.avatar{
    align-items: center;
}
img{
    height:100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left:calc(50% - 50px);
}
h1{
    margin:0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;

}
.login p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 20px;

}
.login input{
    width: 100%;
    margin-bottom: 20px;

}
.login input[type="text"],input[type="password"]
{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height:40px;
    color: #fff;
    font-size: 15px;

}
.login input[type="submit"]
{
    border: none;
    margin-left: 23px;
    margin-top: 20px;
    outline: none;
    height:40px;
    width:80%;
    background:gray;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;

}
.login input[type="submit"]:hover
{
    cursor: pointer;
    background:rgb(196, 156, 196);
    color:#000;
}